<% provide(:title, @user.name) %>

<h1><%= @user.name %>のタスク一覧</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= link_to "タスク新規作成", new_user_pdca_path(@user), class: "btn btn-lg btn-primary pull-right" %>
    <table class="table table-hover" id="table-tasks">
      <thead>
        <tr>
          <th><%= Pdca.human_attribute_name :name %></th>
          <th><%= Pdca.human_attribute_name :created_at %></th>
          <th></th>
        </tr>
      </thead>
        <% @pdcas.each do |pdca| %>
          <tr>
            <td><%= link_to task.name, user_task_path(@user, pdca), id: "task-name" %></td>
            <td><%= l(pdca.created_at, format: :long) %></td>
            <td>
              <%= link_to "編集", edit_user_pdca_path(@user, task), class: "btn btn-success" %>
              <%= link_to "削除", user_pdca_path(@user, pdca), method: :delete,
              data: { confirm: "「#{pdca.name}」を削除します。よろしいですか？" }, class: "btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      <tbody>

    </table>
  </div>    
</div>